<!DOCTYPE html>
<!-- Componente para mostrar el pais en el inicio -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/tailwind.output.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Paises</title>
  </head>
  <body>
    <div
      class="paises-card"
      style="background-image: url(../public/images/paises/chile.png)"
    >
      <div
        class="absolute inset-0 w-100 h-100 bg-black opacity-25 z-10 rounded-lg"
      ></div>
      <span class="paises-card__title"> Chile</span>
    </div>
  </body>
</html>
